<a href="" class="btn btn-secondary d-flex justify-content-between align-items-center rounded-3 p-3 my-2">
        <p class="mb-0 px-3 text-light fs-4"></p>
        <a class="btn mb-0 px-3 text-light">DELETE</a>
</a>