<div>

    <form class="form create-form">
        <h2>Create a new Pie</h2><br />
        <label for="name">What would you like to ask?</label><br />
        <input type="text" id="name" name="name" required /><br /><br />

        <label for="category">Choose a category:</label>
        <select id="category" name="category">
            <option value="Food">Food</option>
            <option value="Movies">Movies</option>
            <option value="TV">TV</option>
            <option value="Music">Music</option>
            <option value="Sports">Sports</option>
            <option value="Tech">Tech</option>
            <option value="Random">Random</option>
        </select><br /><br />


        <label for="options">Options (up to 6):</label><br />
        <input type="text" id="option1" class="options" required /><br />
        <input type="text" id="option2" class="options" required /><br />
        <input type="text" id="option3" class="options" /><br />
        <input type="text" id="option4" class="options" /><br />
        <input type="text" id="option5" class="options" /><br />
        <input type="text" id="option6" class="options" /><br />
        <br />

        <button type="submit" class="button button-rounded-hover">
            Submit
        </button>
    </form>

    <script src="./js/create.js"></script>

</div>