<div>
    <h1>this is where the profile will go</h1>
</div>

{{!-- <div class="container d-flex flex-column justify-content-center">
    {{#each posts as |post|}}
    {{> user-pie}}
    {{/each}}
</div> --}}