<div>
    <h1>this is where the profile will go</h1>
</div>

<div id="user-pies" class="container d-flex flex-column justify-content-center">
    {{#each userData.pies as |pie|}}
    {{> user-pie}}
    {{/each}}
</div>

<script src="/js/profile.js"></script>