<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container mt-5">
    <p>SearchBar</p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        {{#each pies as |pie|}}
        {{> pie-data}}
        {{/each}}
    </div>
</div>