body {
    background-color: black;
    color: white;
    font-family: "Monaco", Monospace;
  }

.logo {
    color: white;
    font-family: "Monaco", Monospace;
    font-size: 89px;
  }

img {
    height: 175px;
    width: 200px;
}

.button-rounded-hover {
    border: 0;
    border-radius: 5000px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: all 0.35s ease;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  
  .button-rounded-hover:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #000000;
    transition: all 0.3s;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  
  .button-rounded-hover:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 5px solid #ffffff;
    content: '';
    border-radius: inherit;
  }
  
  .button-rounded-hover:hover,
  .button-rounded-hover:focus {
    background-color: #ffffff;
  }
  
  .button-rounded-hover:hover:before,
  .button-rounded-hover:focus:before {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 0.25;
  }
  
  .radio-toolbar input[type="radio"] {
    display: none;
  }
  
  .radio-toolbar label {
    display: inline-block;
    cursor: pointer;
  }
  
  .radio-toolbar input[type="radio"]:checked+label {
    border-color: grey;
    border-style: solid;
  }

  .radio-toolbar img{
    width: 50px;
    height: 50px;
  }

  .sign-in-form h4,
  .signup-form h4,
  .create-form h4 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .sign-in-form label,
  .signup-form label {
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .sign-in-form input,
  .signup-form input {
    color: rgb(0, 0, 0);
  }
  
  .sign-in-form input:focus,
  .signup-form input:focus {
    opacity: .5;
  }
  
  .sign-in-form-username,
  .sign-in-form-password,
  .email,
  .username,
  .password,
  .confirm-password,
  .options,
  .name,
  .new-username,
  .new-password,
  .confirm-new-password,
  .icon-url {
    border-radius: 30px;
    border: none;
    opacity: .5;
    transition: all ease .4s;
    
  }
  
 
  